@tailwind base;
@tailwind components;
@tailwind utilities;

.backface-hidden {
  backface-visibility: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  animation: spin 1s linear infinite;
}
